*~
*.o
*.lo
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.deps
.libs

src/test/arithmetic.cpp
src/test/classification.cpp
src/test/float.cpp
src/test/interoperability.cpp
src/test/runner.cpp
src/test/sign_operations.cpp
src/test/test
src/test/testlist

src/demo/random
